.temoignageCard {
	height: 100%;
    background-color: white;
    border-radius: 11px;
    margin: 10px;
}

.underline-subtitle {
	width: 60%;
	border-bottom-color: #3880ff;
	border-bottom-width: thin;
	border-bottom-style: solid;
}
