<ion-header>
	<ion-toolbar color="primary">
		<ion-title class="title">
			<ion-img id="header_logo" src="assets/Logo-EverydayHeroes-White.png"></ion-img>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row class="ion-text-center">
			<ion-col class="content-title">
				<ion-text><h3>Déjà</h3></ion-text>
				<ion-text
					><h1>
						<ion-text class="nombre-vie">{{ nombreVies }}</ion-text> vies sauvées !
					</h1></ion-text
				>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col size-md="3">
				<ion-item class="content-subtitle">
				 
						<ion-label >Témoignages</ion-label>
					 
					 
						<ion-input
							placeholder="Rechercher"
							[(ngModel)]="searchWord"
							(ionChange)="filterList()"
						></ion-input>
					 
				</ion-item>
			</ion-col>
 
		</ion-row>
		<ion-row>
		 <ion-col class="card-col" size-lg="4" size-md="12" size-sm="12" size-xs="12"  *ngFor="let temoignage of temoignages | paginate: { itemsPerPage: 10, currentPage: page }">
   
				<!--  server Side case
					<ion-col size-lg="4" size-md="12" size-sm="12" *ngFor="let temoignage of asyncTemoignage | async |  paginate: {   itemsPerPage: 10, currentPage: p, totalItems: total }"> -->
				<app-temoignage-item [temoignage]="temoignage"> </app-temoignage-item>
			</ion-col>
		</ion-row>
		<!-- <ion-row> -->
			<ion-row class="pagination-controls-row">

			    <pagination-controls (pageChange)="onPageChange($event)"  ></pagination-controls>
			</ion-row>

<!-- 			 dans le cas avec server side
				<div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
				<pagination-controls (pageChange)="getPage($event)"  ></pagination-controls> -->
 		<!-- </ion-row> -->
	</ion-grid>
</ion-content>
